<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Iniciar sesión</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <hr />
            <mat-form-field appearance="fill" class="inherit-w">
              <mat-label>Correo electrónico</mat-label>
              <input
                matInput
                placeholder="Correo electrónico"
                formControlName="email"
              />
              <mat-error *ngIf="f.email.hasError('required')">
                El correo electrónico es requerido *
              </mat-error>
              <mat-error *ngIf="f.email.hasError('pattern')">
                El correo electrónico no cumple con el formato válido.
                example@email.com *
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inherit-w mt-4">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                placeholder="Contraseña"
                [type]="hidePwd ? 'password' : 'text'"
                formControlName="password"
              />
              <mat-icon
                matSuffix
                (click)="hidePwd = !hidePwd"
                class="clickable"
                >{{ hidePwd ? "visibility_off" : "visibility" }}</mat-icon
              >
              <mat-error *ngIf="f.password.hasError('required')">
                La contraseña es requerida *
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="pt-2 pb-2">
            <button
              type="submit"
              [disabled]="loading"
              class="btn btn-block btn-primary"
            >
              Iniciar sesión
              <img
                src="../../../assets/loading.svg"
                class="m-l-2"
                *ngIf="loading"
                alt="Cargando"
                width="25"
              />
            </button>
            <p class="mt-3 mb-3 text-right">
              <a mat-button routerLink="/register" style="text-decoration: none"
                >Registrarse</a
              >
            </p>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
